#include <windows.h>
#include "resource.h"

IDI_APP ICON "icon.ico"

IDA_EDITOR ACCELERATORS
BEGIN
    "S",            IDM_FILE_SAVE,      VIRTKEY, CONTROL
    VK_RETURN,      IDM_FILE_APPLY,     VIRTKEY, CONTROL
    VK_RETURN,      IDM_FILE_APPLYALL,  VIRTKEY, CONTROL, SHIFT
    "Z",            IDM_EDIT_UNDO,      VIRTKEY, CONTROL
END

IDD_NEW_LAYOUT DIALOGEX 0, 0, 240, 130
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Layout"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Name:", -1, 12, 16, 40, 8
    EDITTEXT IDC_NEW_NAME, 56, 14, 172, 12, ES_AUTOHSCROLL
    CONTROL "Grid", IDC_NEW_GRID, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 56, 36, 60, 10
    CONTROL "Canvas", IDC_NEW_CANVAS, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 130, 36, 60, 10
    GROUPBOX "Grid options", -1, 56, 52, 172, 38
    LTEXT "Rows:", -1, 68, 68, 28, 8
    EDITTEXT IDC_NEW_ROWS, 100, 66, 30, 12, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT "Columns:", -1, 140, 68, 36, 8
    EDITTEXT IDC_NEW_COLS, 180, 66, 30, 12, ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON "OK", IDOK, 74, 100, 50, 14, WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 132, 100, 50, 14
END

IDD_RENAME_LAYOUT DIALOGEX 0, 0, 240, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rename Layout"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Name:", -1, 12, 16, 40, 8
    EDITTEXT IDC_RENAME_NAME, 56, 14, 172, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 74, 44, 50, 14, WS_GROUP
    PUSHBUTTON "Cancel", IDCANCEL, 132, 44, 50, 14
END
